

.challenge1{


	background: gray;
	border: black solid 5px;
	padding: 20px;
	margin: 25px 0;

}

.float1{
	border: black solid 5px;
	float: left;
	padding: 30px;
	width: 30%;
	margin: 25px 0;
}

footer.challenge1 {

	clear:both;
	margin-top: 50px;

}
	
body{
height: 100vh;

}